body {
  background-color: #888;
  width: 100%;
  margin: 0;
  padding: 0;
}

#game {
  background-color: #444;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}

#stats {
  color: white;
  background-color: rgba(150,150,150,0.4);
  font-family: 'Exo 2', sans-serif;
  position: absolute;
  padding: 6px 20px 6px 10px;
  margin: 10px;
  border-radius: 10px;
}

#stats h3 {
  font-size: 20px;
  text-shadow: 0 0 10px white;
  margin: 0 0 8px 0;
  font-weight: 400;
}

#health {
  background: repeating-linear-gradient(315deg,
  cyan 15%,
  #28B463 30%,
  cyan 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-size: 24px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: 200;
}

.left {
  float: left;
  padding-left: 20px;
}

.right {
  float: right;
  padding-right: 20px;
}

.instructions {
  font-family: 'Exo 2', sans-serif;
  width: 180px;
  display: none;
}

.instructions table {
  margin-left: 20px;
}

.instructions td {
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  text-align: center;
  width: 30px;
  line-height: 25px;
}

.instructions .hide {
  visibility: hidden;
}

#start {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,0);
}
