body {
  background-color: #888;
  width: 100%;
  margin: 0;
  padding: 0;
}

#game {
  background-color: #444;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

#stats {
  color: white;
  background-color: rgba(150,150,150,0.4);
  font-family: 'Exo 2', sans-serif;
  position: absolute;
  padding: 10px 20px 5px 10px;
  margin: 15px;
  border-radius: 10px;
}

#stats h3 {
  font-size: 20px;
  text-shadow: 0 0 10px white;
  margin: 0 0 8px 0;
  font-weight: 400;
}

#health {
  background: repeating-linear-gradient(315deg,
  cyan 15%,
  #28B463 30%,
  cyan 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-size: 18px;
}

#start {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,0);
}
